.spinner {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  border: 10px solid rgba(29, 63, 114, .3);
  border-top-color: #1d3f72;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}